body {
    background: #003629;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 100%;
    line-height: 1.5;
}

.txthoger {
    float: right;
    text-align: right;  
}

.omfang {
    display: flex;
}

.fakturaBox {
    background-color: white;
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
}

.rad_1 {
    display: flex;
}

.logo {
    flex: 0.7;
}

#foretagIMG {
    width: 30%;
}

.rad_2 {
    display: flex;
}

.ledTxt {
    font-weight: bold;
}

.tomRuta {
    flex: 0.7;
}

.inforuta {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

rad_3 {
    display: flex;
}

.tjanstRuta {
    width: 100%;
}

.tjanstRuta hr {
    margin-top: 0;
    margin-bottom: 0;
}
